Repository voxpupuli/puppet-gluster, pull requests merged in 2018-03, with the labels that each got.

#150 fix argument passing of arbiter option
  lib/facter/gluster.rb
  manifests/volume.pp
Labels: bug

#143 Add support for gluster 3.10-312; Set default version 3.8->3.12
  manifests/params.pp
  manifests/repo/apt.pp
  spec/acceptance/client_spec.rb
  spec/acceptance/server_spec.rb
  spec/classes/repo_apt_spec.rb
Labels: backwards-incompatible

#159 Fix repo url for 3.12 in stretch
  manifests/repo/apt.pp
  spec/classes/repo_apt_spec.rb
Labels: bug

#139 Add support for Debian 9, drop debian 8
  .sync.yml
  .travis.yml
  manifests/params.pp
  manifests/repo/apt.pp
  metadata.json
  spec/classes/service_spec.rb
  spec/spec_helper_acceptance.rb
Labels: backwards-incompatible, enhancement

#161 release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
